<ng-template #update let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"><i class="bi bi-x"></i></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="FirstName">FirstName</label>
                <div class="input-group">
                    <input id="FirstName" [(ngModel)]="employee.firstName" name="FirstName" class="form-control" placeholder="FirstName">
                </div>
            </div>
            <div class="mb-3">
                <label for="LastName">LastName</label>
                <div class="input-group">
                    <input id="LastName" [(ngModel)]="employee.lastName" name="LastName" class="form-control" placeholder="LastName">
                </div>
            </div>
            <div class="mb-3">
                <label for="Patronymic">Patronymic</label>
                <div class="input-group">
                    <input id="Patronymic" [(ngModel)]="employee.patronymic" name="Patronymic" class="form-control" placeholder="Patronymic">
                </div>
            </div>
            <div class="mb-3">
                <label for="Department">Department</label>
                <div class="input-group">
                    <input id="Department" [(ngModel)]="employee.department" name="Department" class="form-control" placeholder="department">
                </div>
            </div>
            <div class="mb-3">
                <label for="Birthday">Date of birth</label>
                <div class="input-group">
                    <input id="Birthday" [(ngModel)]="employee.birthday" name="Birthday" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dp="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"><i class="bi bi-calendar"></i></button>
                </div>
            </div>
            <div class="mb-3">
                <label for="EmploymentDate">Employment date</label>
                <div class="input-group">
                    <input id="EmploymentDate" [(ngModel)]="employee.employmentDate" name="EmploymentDate" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dp2="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="dp2.toggle()" type="button"><i class="bi bi-calendar"></i></button>
                </div>
            </div>
            <div class="mb-3">
                <label for="Wage">Wage</label>
                <div class="input-group">
                    <input id="Wage" type="number" [(ngModel)]="employee.wage" name="Wage" class="form-control" placeholder="0">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
    </div>
</ng-template>